<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand" center>My Movies</a>
    </div>
    <!-- <h4>Movie App!</h4>
    <hr> -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/movies">My Movie List</a></li>
        <li routerLinkActive="active"><a routerLink="/seen-list">Seen List</a></li>
        <li routerLinkActive="active"><a routerLink="/auth">Authentication</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown data-mbd-toggle="dropdown" aria-expanded="false">
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
            <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- data-bind="enable: !noResults()"  -->
